version: '3'
services:

  # Mongo Database for the purchase
  # ===============================
  wordz-purchase-mongo:
    container_name: wordz-purchase-mongo
    command: --auth
    build:
      context: ./wordz-purchase-mongo
      args: # used by setup.js
        - mongoInitDbRootUsername=admin
        - mongoInitDbRootPassword=password
        - mongoApiPassword=password
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27018:27017"
    volumes:
      - /opt/wordz/dev/wordz-purchase-mongo/db:/data/db

  # Microservice for the purchase
  # =============================
  wordz-purchase:
    container_name: wordz-purchase
    build: ../wordz-purchase
    environment:
      NODE_ENV: development
      MONGO_API_PASSWORD: password
      API_ADMIN_PASSWORD: password
    ports:
      - "3020:3010"
    volumes:
      - ../wordz-purchase:/var/app
    links:
      - wordz-purchase-mongo:mongohost

  # Mongo Database for the api
  # ==========================
  wordz-api-mongo:
    container_name: wordz-api-mongo
    build:
      context: ./wordz-api-mongo
      args: # used by setup.js
        - mongoInitDbRootUsername=admin
        - mongoInitDbRootPassword=password
        - mongoApiPassword=password
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - /opt/wordz-api-mongo/db:/data/db
    command: --auth

  # Microservice for the api
  # ========================
  wordz-api:
    container_name: wordz-api
    build: ../wordz-api
    ports:
      - "3010:3010"
    volumes:
      - ../wordz-api:/var/app
    environment:
      NODE_ENV: development
      MONGO_API_PASSWORD: password
      API_ADMIN_PASSWORD: password
      API_FACEBOOK_USER_PASSWORD: password
    links:
      - wordz-api-mongo:mongohost
      - wordz-purchase:wordz-purchase

  # Cron Service
  # ============
  wordz-cron:
    container_name: wordz-cron
    build:
    build:
      context: ../wordz-cron
      args: # used by setup.js
        - nodeEnv=development
        - mongoApiPassword=password
    volumes:
      - ../wordz-cron:/var/app
    environment:
      NODE_ENV: development
      MONGO_API_PASSWORD: password
    links:
      - wordz-api-mongo:mongohost

